@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply text-white bg-indigo-900;
  font-size: 32px;
}

.text-fancy {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
